@model KaspiShop.ProductCatalogService.ProductCatalogDTO

@if (Model.Quantity > 0)
{
<div class="well">

    <div class="pull-left" style="margin-right: 10px">
        <img class="img-thumbnail" width="75" height="75"
             src="@Url.Action("GetImage", "Product",
                    new { Model.PhotoID })" />
    </div>


    <h3>
        <strong>@Model.Name.</strong>
        <strong>Quantity : @Model.Quantity </strong>
        <span class="pull-right label label-primary">@Model.Price$</span>
    </h3>

    @using (Html.BeginForm("AddToCart", "ShopCart"))
    {
<div class="pull-right">
    @Html.Hidden("productId", Model.ID)
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input type="submit" class="btn btn-success" value="Add to cart" />
</div>}

    <span class="lead"> @Model.Description</span><br />
</div>
}


