@model KaspiShop.Models.ProductCatalog

<div class="well">

    @if (Model.Photo != null)
    {
    <div class="pull-left" style="margin-right: 10px">
        @{ var base64 = Convert.ToBase64String(Model.Photo);
                            var imgsrc = string.Format("data:images/gif;base64,{0}", base64); }
        <img class="img-thumbnail" width="75" height="75"
             src='@imgsrc' />
    </div>
    }
    
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price$</span>
    </h3>
    
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
        }
    
    <span class="lead"> @Model.Description</span>
</div>

