@model KaspiShop.Models.ShopCartItemViewModel

@{ ViewBag.Title = "Sports Store: Your Cart"; }

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Your cart</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>Location</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
 
        @foreach (var line in Model.Cart.Lines())
        {
<tr>
    <td class="text-center">@line.Quantity</td>
    <td class="text-left">@line.ProductDTO.Name</td>
    <td class="text-left">@line.LocationName</td>
    <td class="text-right">@line.ProductDTO.ListPrice$</td>
    <td class="text-right">
        @(line.Quantity * line.ProductDTO.ListPrice)$
    </td>
    <td>
        @using (Html.BeginForm("RemoveFromCart", "ShopCart"))
        {
            
            @Html.Hidden("locationName", line.LocationName)
            @Html.Hidden("ProductId", line.ProductDTO.ProductID)
            @Html.HiddenFor(x => x.ReturnUrl)
            <input class="btn btn-sm btn-warning" type="submit" value="Remove" />                            
         }
    </td>
</tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue()$
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
</div>


